certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==4.5.4
Flask==1.1.1
Flask-API==2.0
Flask-Cors==3.0.9
httplib2==0.17.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
plantuml==0.3.0
requests==2.22.0
rope==0.16.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
